spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mydb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      auto-commit: true
      pool-name: HikariCP
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
  mail:
    host: smtp.gmail.com
    port: 587
    username: tranthanhhiep8125@gmail.com
    password: vtwi fmor asnr wale
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

app:
  verify:
    base-url: http://localhost:8080/mydb/khachhang/verify
    token-expiration-hours: 1
    max-unverified-days: 1


server:
  port: 8443
  servlet:
    context-path: /mywed

  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: 123456
    key-store-type: PKCS12
    key-alias: localhost